@page "/"
<hr />
<h3>
  Fråga något om MDH Studentkonto:
</h3>
<p></p>
<p></p>
<div class="container">
  <form>
    <div class="form-group">
      <label for="inputdefault">Skrev din fråga</label>
      <input class="form-control" id="inputdefault" type="text" @bind="question">
      <p></p>
      <button type="button" @onclick="GetReplyFromBot">  <span class="oi oi-chat" aria-hidden="true"></span> Chat!</button>
    </div>
  </form>

  <ul class="list-group">
    @foreach (var chat in chatFlow)
    {
      <li class="list-group-item list-group-item-light">
        <p style="color:red">@chat.Question ?</p>
        <p style="color:blue">  @chat.Answer.Trim('"')</p>
      </li>
    }
  </ul>
</div>
@code {

    ChatFlow chat;
    string answer;
    string question;
  private IList<ChatFlow> chatFlow = new List<ChatFlow>();

  protected override void OnInitialized()
  {
    base.OnInitialized();
    chat = new ChatFlow();
  }
  private async Task GetReplyFromBot()
  {
    try
    {
      if (!string.IsNullOrWhiteSpace(question))
      {
        var uri = "https://my-chat-bot.azurewebsites.net/chatbot/" + question;
        var client = new HttpClient();
        answer = await client.GetStringAsync(uri);
        AddChatFlow();
      }
    }
    catch (Exception)
    {
      var ans = "Kontakta studenttorget eller Gå till https://www.mdh.se/student";
      chatFlow.Add(new ChatFlow { Question = question, Answer = ans });
    }

  }

  private void AddChatFlow()
  {
    if (!string.IsNullOrWhiteSpace(question))
    {
      chatFlow.Add(new ChatFlow { Question = question, Answer = answer });
      question = string.Empty;
    }
  }
  public class ChatFlow
  {
    public string Question { get; set; }
    public string Answer { get; set; }
  }
}
